<html>

<head>
    <title>
        <%=Title%>
    </title>
</head>

<body>
    <p>
        <% for(let i = 0; i < Nav.length; i++){%>
            <a href="<%=Nav[i].Link%>"><%=Nav[i].Text%></a>
        <%}%>
    </p>

    <% for(let i = 0; i < Mock.length; i++) {%>
        <% for(let key in Mock[i]) {
            if (typeof Mock[i][key] != 'object') {%>
                <%= key %>: <%= Mock[i][key]%><br>
            <%} else {%>
                <% for (let j = 0; j < Mock[i][key].length; j++) {%>
                   <p><% for (let member in Mock[i][key][j]){%>
                        <%= member %>: <%= Mock[i][key][j][member]%><br>
                    <%}%></p>
                <%}%>    
            <%}%>    
        <%}%>      
    <%}%>
</body>

</html>